<p><%= @user.full_name %> has created a lesson for <%= @event.date %>, <%= @event.start_time %>.</p>

<p>Use the following link to view this lesson online <a href="@event_url"><%= @event_url  %></a></p>