<p>Dear <%= @user.full_name %>,</p>

<p>You have recently completed a lesson, <%= @event.name %>, which was held between <%= @event.start_time %> and <%= @event.end_time %>.</p>

<p>Plese make sure to leave feedback as appropriate.</p>