<p>You have been invited to <a href="http://program-me.herokuapp.com/">Program.me</a> by <%= @user.full_name %>.</p>

<p>If you wish to connect with this tutor, please signup quoting their unique key <%= @user.token %>.</p>

<p>Signup here <a href="@signup_url"><%= @signup_url %></a></p>