<% @title="Feedback" %>

<%= render :partial => '/submenu' %>

<div class="page-header"><h1>Feedback</h1></div>
<%= render 'comments' %>

<!-- <p><%#= link_to "New Comment", [:new, @commentable, :comment] %></p> -->